body{
    background-color:rgb(246, 219, 240) ;
}
.gallery-tittle{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    color: rgb(155, 110, 94);
    text-align: center;
    margin-bottom: 20px;
}
figcaption{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(162, 138, 102);
    text-align: center;
}
img{
    border-radius: 2px;
}